<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
      <script src="js/node_modules/angular/angular.min.js"></script>
      <script src="js/node_modules/angular-route/angular-route.js"></script>
      <script src="js/node_modules/angular-resource/angular-resource.js"></script>
      <script src="js/node_modules/angular-sanitize/angular-sanitize.js"></script>
      <script src="js/node_modules/ngstorage/ngStorage.js"></script>
      <script src="js/task.js"></script>
      <script src="js/controllers/TLCtrlr.js"></script>
      <link rel="stylesheet" href="css/index.css">
  </head>
  <body data-ng-app="myTasks" data-ng-controller="tlCtrl">
    <div id="page-wrapper">
      <div id="todo-field">
        <p>What do you need to do?</p>
        <form id="task-form" data-ng-submit="addTask()">
          <input type="text" data-ng-model="newTask" name="newTask" placeholder="Type in a task here"/>
          <input type="submit" style="display:none"/>
          <br />
        </form>
      </div>
      <br />

      <div class="task" data-ng-repeat="task in tasks | filter:filters">
        <input type="checkbox" data-ng-click="completeTask(task)">
        <label data-ng-class="{completed: task.complete}" data-ng-click="editTask(task)"> {{task.currentTask}} </label>
        <span id="deleteTask" data-ng-click="deleteTask(task)">X</span>          
      </div>
      
      <br />
      <span id="taskCount"> {{count}} </span>
      <br />
      <div id="filters">
        <u><b>TASK FILTERS</b></u> <br />
        <span id="all" data-ng-click="changeFilter('')">All Tasks</span> | 
        <span id="incomplete" data-ng-click="changeFilter('incomplete')">Incomplete Tasks</span> | 
        <span id="complete" data-ng-click="changeFilter('complete')">Completed Tasks</span>
      </div>
      <br />
      
      <div id="buttons">
        <button id="completeAll" data-ng-click="completeAll()">Complete All Tasks</button> | 
        <button id="removecomplete" data-ng-click="removeTasks()">Remove Completed Tasks</button>
      </div>
    </div>
  </body>
</html>
